.hr {
	display: block;
	margin: 1rem auto;
	margin-bottom: 2rem;
}

.pageHeader {

	margin-top: 2rem;
	margin-bottom: 2rem;
	@media screen and ( min-width: 992px ) {
		margin-top: 3rem;
	}
	h1 {
		font-size: 40px;
		@media screen and ( min-width: 1440px ) {
			font-size: 56px;
		}
	}
	p {
		@media screen and ( min-width: 922px ) {
			max-width: 692px;
			margin: 0 auto;
		}
	}
}

.pageContent {
	margin-bottom: 1rem;
	margin-top: 2rem;
	width: 100%;
	max-width: 692px;

	.form {
		max-width: 720px;
		margin: 0 auto;
		margin-bottom: 10rem;

		.row {
			width: 100%;
		}

		.reset {
			.emailField {
				margin-bottom: 0;
				margin-right: 2rem;
				padding-left: 10px;
				margin: 0;
				&:focus {
					box-shadow: 30px 30px 80px rgba(55,84,170,0.08);
				}
			}
		}

		.send {
			margin-top: 2rem;
		}

		label {
			margin-bottom: 2rem;
			font-size: 18px;
			@media screen and ( min-width: 1680px ) {
				font-size: 20px;
			}
			.subLabel {
				color: #484849;
				opacity: 0.3;
				.dot {
					margin-left: 12px;
					margin-right: 6px;
				}
			}
		}

		.errorText {
			color: red;
			margin-left: 10px;
			font-family: 'AvenirLTPro-Black';
		}
	}

}
