.hr {
	display: block;
	margin: 1rem auto;
	margin-bottom: 2rem;
}

.pageHeader {
	margin-top: 2rem;
	margin-bottom: 2rem;
	@media screen and ( min-width: 992px ) {
		margin-top: 3rem;
	}
	h1 {
		font-size: 40px;
		@media screen and ( min-width: 1440px ) {
			font-size: 56px;
		}
	}
}

.pageContent {
	margin-bottom: 1rem;
	margin-top: 2rem;
	width: 100%;
	max-width: 725px!important;
	.controls {
		margin-bottom: 2rem;
		ul {
			displaY: flex;
			justify-content: space-between;
			margin: 0;
			li {
				position: relative;
				-webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
				cursor: pointer;
				text-align: center;
				.icon {
					display: block;
				}
				span {
					color: #2aabe3;
					margin-top: 1rem;
					display: block;
					font-size: 18px;
					@media screen and ( min-width: 1680px ) {
						font-size: 24px;
					}
				}
			}
		}
	}

	.tabs {
		.tab {
			display: none;
			&.open {
				display: block;
			}
		}
	}

	.form {
		width: 100%;
		margin: 0 auto;

		.row {
			width: 100%;
		}

		.addAuthor {
			cursor: pointer;
			margin: 0 0 1.5rem;
			border: 2px dashed #c7c7c8;
			border-radius: 4px;
			padding: 1.25rem;
			text-align: center;
			span {
				margin-right: 1rem;
				display: inline-block;
				img {
					margin-top: -5px;
				}
			}
			h5 {
				display: inline-block;
				margin-bottom: -2px;
			}
		}

		.authorBlock {
			.authorWrap {
				position: relative;
			}
			.deleteAuthor {
				position: absolute;
				right: 15px;
				top: 15px;
				cursor: pointer;
			}
		}

		.addFile {
			cursor: pointer;
			margin: 0 0 1rem;
			border: 2px dashed #c7c7c8;
			border-radius: 4px;
			padding: 1.25rem;
			text-align: center;
			span {
				margin-right: 1rem;
				display: inline-block;
				img {
					margin-top: -5px;
				}
			}
			h5 {
				display: inline-block;
				margin-bottom: -2px;
			}
			input {
				visibility: hidden;
				height: 0;
				width: 0;
			}
		}

		.addPhoto {
			cursor: pointer;
			margin: 0 0 1rem;
			border: 2px dashed #c7c7c8;
			border-radius: 4px;
			padding: 3rem;
			text-align: center;
			span {
				display: block;
				margin-bottom: 1rem;
				img {
				}
			}
			h3 {
				display: block;
				margin: 2rem 0;
				font-size: 28px;
				@media screen and ( min-width: 1680px ) {
					font-size: 36px;
				}
			}
			p {
				color: #c7c7c8;
				max-width: 500px;
				margin: 0 auto;
			}
			input {
				visibility: hidden;
				height: 0;
				width: 0;
			}
		}

		.dateBlock {
			input {
				cursor: pointer;
			}
			position: relative;
			.cal {
				position: absolute;
				right: 15px;
				top: 25px;
				cursor: pointer;
				z-index: 1000;
			}
		}

		.agree {
			.label {
			  display: block;
			  position: relative;
			  padding-left: 35px;
			  cursor: pointer;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;

				input {
				  position: absolute;
				  opacity: 0;
				  cursor: pointer;
				  height: 0;
				  width: 0;
				}

				/* Create a custom checkbox */
				.checkmark {
				  position: absolute;
				  top: 0;
				  left: 0;
				  height: 25px;
				  width: 25px;
					background-color: #fff;
					border: 2px solid #2aabe3;
				}

				/* On mouse-over, add a grey background color */
				&:hover input ~ .checkmark {
				  background-color: #fbfbff;
				}

				/* When the checkbox is checked, add a blue background */
				 input:checked ~ .checkmark {
				  background-color: #2aabe3;
				}

				/* Create the checkmark/indicator (hidden when not checked) */
				.checkmark:after {
				  content: "";
				  position: absolute;
				  display: none;
				}

				/* Show the checkmark when checked */
				 input:checked ~ .checkmark:after {
				  display: block;
				}

				/* Style the checkmark/indicator */
				 .checkmark:after {
				  left: 9px;
				  top: 5px;
				  width: 5px;
				  height: 10px;
				  border: solid white;
				  border-width: 0 3px 3px 0;
				  -webkit-transform: rotate(45deg);
				  -ms-transform: rotate(45deg);
				  transform: rotate(45deg);
				}

			}
		}

		.externalLink {
			.line {
				position: relative;
				text-align: center;
				margin-top: 0;
				margin-bottom: 1.5rem;
				hr {
					width: 100%;
					z-index: -200;
					position: absolute;
				}
				span {
					text-align: center;
					display: inline-block;
					margin: 8px;
					background: white;
					padding: 0 20px;
				}
			}
		}

		.copyright {
			position: relative;
			span {
				position: absolute;
				top: 18px;
				left: 24px;
			}
			input {
				padding-left: 50px;
			}
		}

		.nav {
			text-align: center;
			.button {
				margin-top: 3rem;
				padding: 1rem 6rem;
				@media screen and ( min-width: 992px ) {
					font-size: 20px;
				}
				@media screen and ( min-width: 1680px ) {
					font-size: 24px;
				}
			}
		}

		label {
			.errorText {
				color: red;
				margin-left: 10px;
				font-family: 'AvenirLTPro-Black';
			}
			margin-bottom: 2rem;
			font-size: 18px;
			@media screen and ( min-width: 1680px ) {
				font-size: 20px;
			}
			input,
			select,
			textarea {
				margin-top: 10px;
			}

			.question {
				vertical-align: text-bottom;
			}

			.subLabel {
				color: #484849;
				opacity: 0.3;
				.dot {
					margin-left: 12px;
					margin-right: 6px;
				}
			}
		}

		.signin {
			margin: 0 auto;
			margin-top: 1.5rem;
		}
	}

	.agency {
		p {
			font-size: 18px;
			@media screen and ( min-width: 1680px ) {
				font-size: 24px;
			}
		}
		.agencyTypeSelector {
			display: flex;
		  justify-content: space-between;
			margin: 0;
			li {
				width: 48%;
				label.button {
					opacity: 0.5;
					padding: 1rem 2.75rem;
					border-radius: 4px !important;
					background: #fff;
					border: 2px solid #c7c7c8;
					color: #c7c7c8;
					width: 100%;
					position: relative;
					input[type="radio"] {
						visibility: hidden;
						opacity: 0;
						padding: 0;
						margin: 0;
						position: absolute;
					}
				}

				&.active {
					label.button {
						opacity: 1;
						border: 2px solid #2aabe3;
						color: #2aabe3;
					}
				}
			}
		}

		.agencySelector {
			display: none;
			&.active {
				display: block;
			}
		}

		.agencyWrap {
			display: none;
			&.active {
				display: block;
			}
		}

	}

	.relevant {
		.label {
			display: block;
			position: relative;
			padding-left: 35px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
				background-color: #fff;
				border: 2px solid #2aabe3;
			}

			/* On mouse-over, add a grey background color */
			&:hover input ~ .checkmark {
				background-color: #fbfbff;
			}

			/* When the checkbox is checked, add a blue background */
			 input:checked ~ .checkmark {
				background-color: #2aabe3;
			}

			/* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}

			/* Show the checkmark when checked */
			 input:checked ~ .checkmark:after {
				display: block;
			}

			/* Style the checkmark/indicator */
			 .checkmark:after {
				left: 9px;
				top: 5px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}

		}
	}
}

.topics {
	.selectedTopic {
		margin-right: 1rem;
		margin-bottom: 1rem;
		color: #2aabe3;
		position: relative;
		border-radius: 4px;
		border: 2px solid #2aabe3;
		padding: 0.5rem 2rem;
		display: inline-block;
		.close {
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
			cursor: pointer;
		}
	}
}

.tags {
	.selectedTag {
		margin-right: 1rem;
		margin-bottom: 1rem;
		color: #2aabe3;
		position: relative;
		border-radius: 4px;
		border: 2px solid #2aabe3;
		padding: 0.5rem 2rem;
		display: inline-block;
		.close {
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
			cursor: pointer;
		}
	}
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
	visibility: hidden;
	width: 400px;
	background-color: white;
	color: #1c1c1c;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	padding: 1.5rem;
	margin-top: -1.5rem;
	z-index: 500;
	box-shadow: 30px 30px 80px rgba(55,84,170,0.08);
}

.removeImage {
	color: red;
	display: block;
	margin: 1rem;
	text-align: center;
	font-family: 'AvenirLTPro-Black';
	cursor: pointer;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
