.how {
	background: #fbfbff;
	padding-bottom: 4rem;
	padding-top: 4rem;

	.hr {
		display: block;
		margin: 1rem auto;
		margin-bottom: 2rem;
	}

	.heading {
		margin-bottom: 30px;
		@media screen and ( min-width: 992px ) {
			margin-bottom: 100px;
		}
		h2 {
			@media screen and ( min-width: 1440px ) {
				font-size: 56px;
			}
		}
	}

	.howBlock {
		position: relative;
		&:before {
			content: " ";
			position: absolute;
			top: -50px;
			left: -50px;
			opacity: .7;
			width: 100px;
			height: 100px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.block1 {
			&:before {
				background-image: url(/images/how-01.png);
			}
		}
		&.block2 {
			&:before {
				background-image: url(/images/how-02.png);
			}
		}
		&.block3 {
			&:before {
				background-image: url(/images/how-03.png);
			}
		}
		.content {
			float: left;
			.labelHeading {
				margin-bottom: 1rem;
				display: block;
				font-family: 'AvenirLTPro-Black';
				font-size: 28px;
				@media screen and ( min-width: 1440px ) {
					font-size: 36px;
				}
			}
			.numberLabel {
				color: #2AABE3;
				font-family: 'AvenirLTPro-Black';
				font-size: 28px;
				@media screen and ( min-width: 1440px ) {
					font-size: 36px;
				}
			}
			p {
				color: #484849;
				opacity: 0.8;
				font-size: 16px;
				@media screen and ( min-width: 1280px ) {
					font-size: 18px;
				}
				@media screen and ( min-width: 1440px ) {
					font-size: 24px;
				}
			}
		}
	}
}
